* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #a0806d;
    --color-text: #616161;
    --gallery-gap: calc(var(--index) * 2.5);
}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: outfit-c;
}

body {
    background-color: #faebd7;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;
}

.content, .hero, .main-header, .gallery > * {
    will-change: transform;
    padding: 0;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
	height: 150vh; /* Увеличиваем высоту секции, чтобы она была больше одной страницы */
    overflow: hidden; 
}

.hero {
    position: absolute;    
	width: auto; /* Сохраняем пропорции изображения */
    height: 100%;
	top: 5%;
	right: 0;
    z-index: -1;
}

.main-header {
	position: absolute;
	width: 100vw;
    height: 100vh;
	top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 5vh;
	margin-left: 20px;
}

.container {
    padding: 0 7vw;
}

.main-title {
    font-size: calc(var(--index) * 1.5);
    color: #e6845e;
    line-height: 0.9;
    text-align: start;
	font-family: raleway-c;
}

.gallery {
    display: flex;
    padding: calc(var(--index) * 1) 0;
	margin-bottom: 20px;
}

.gallery > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery__item {
    width: 100%;
    max-width: calc(var(--index) * 21);
    margin-bottom: var(--gallery-gap);
    border-radius: 8px;
}

.gallery__left {
    /* margin-top: calc(var(--gallery-gap) * 1.75);
    margin-bottom: 200px; */
} 
.gallery__right{
    margin-top: 100px;
}
.gallery__right .gallery__item {
    margin: 10px;
	margin-bottom: 20px;
    /* margin-top: var(--gallery-gap); */
}

.text-block {
    color: var(--color-text);
}

.text-block__h {
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-header);
    margin-bottom: 1.5rem;
}

.text-block__p {
    line-height: 1.75;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 1rem 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-family: raleway-c;
    font-size: 2.5rem;
    color: black;
    font-weight: 100;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    transition: transform 0.3s ease; /* Плавный переход для навигационного меню */
}

.nav-links li a {
    font-family: raleway-c;
    font-weight: 100;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--color-text);
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 0.5rem;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
}


.text-block__line {
    display: flex;
    justify-content: space-between; /* Равномерное распределение текста и цены */
    align-items: center; /* Вертикальное выравнивание */
  }
.price{
    color: #e6845e;
    font-size: calc(var(--index) * 1.0);
    
}

/* Мобильная версия */
@media (max-width: 768px) {
    .nav-links {
        list-style: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #faebd7;
        width: 100%;
        padding: 1rem;
    
        transform: translateY(-20px); /* Начальное смещение вверх */
        opacity: 0; /* Скрытость */
        visibility: hidden; /* Элемент невидим для кликов */
        transition: opacity 0.3s ease, transform 0.3s ease; /* Переход */
    }
    
    .nav-links.active {
        transform: translateY(0); /* Возвращаем элемент */
        opacity: 1; /* Делаем видимым */
        visibility: visible; /* Делаем доступным для кликов */
    }
    .nav-links.closing {
        transform: translateY(-20px); 
        opacity: 0;
        visibility: hidden; 
    }

    .hamburger-menu {
        display: flex;
    }

    .hero {
        width: 100%;
        bottom: 0;
    }
}

@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
        padding: calc(var(--index) * 2) 0;
    }

    .gallery__item {
        width: 100%;
    }

    .main-title {
		text-align: start;
        font-size: calc(var(--index) * 1.5);
    }
	.hero {
		position: absolute;    
		width: auto; /* Сохраняем пропорции изображения */
		height: 20%;
		top: 20%;
		left: 0;
		z-index: -1;
    }
}


@media (max-width: 1020px) {
    .hero {
		position: absolute;    
		width: auto; /* Сохраняем пропорции изображения */
		height: 70%;
		top: 7%;
		right: 0;
		z-index: -1;
    }

}
